h1 {
<<<<<<< HEAD
  color : rgb(255, 74, 104);
}
p {
  font-size: 200%;
}

.bouton{
  background-color:green;
  text-align: center;
}
.bouton:hover{
  background-color: aqua;
}

.table{
  border-spacing: 60px;
}
.counters-card{
  margin: 0.5em;
}

.undo{
  background-color:coral;
}

.undo:hover{
  background-color: blueviolet;
}
=======
    color : rgb(255, 74, 104);
}
p {
    font-size: 200%;
}

.bouton{
    background-color: rgb(93, 93, 199);
}
.bouton:hover{
    background-color: aqua;
}
>>>>>>> 790ca18b894308a4e79468c44d84430b1c52728d
