.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin: 1em;
<<<<<<< HEAD
}

.submenu-title{
  background-color: #3F51B5;
}

.liste{
  background-color:darkgray;
=======
>>>>>>> 790ca18b894308a4e79468c44d84430b1c52728d
}